
	
h1 {
	color: white;
	font-size: 60px;
	padding-left: 490px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
    width: 50%;

}

body {
	background-image: url("wood.jpg");
	fill: all;
}
.test {
  width: 1500px;
  height: 40px;
  background-color:grey;
  margin: 0px 0px;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 100px;
  float:middle;
  position: fixed;
top: 0;
left:0;
opacity: 1;
    
}

.border {
	width: 200px;
	height: 50px;
	padding-top: 480px;
	margin-top: 133px;
	margin-left: -10px;
	background-color: green;
	opacity: 1;
	position: absolute;
	
}	



.links {
	width: 200px;
	height: 50px;
	padding-top: 480px;
	margin-left: 1141px;
	margin-top: 133px;
	background-color: black;
	opacity: 1;
	position: absolute;
	

}

.tekst{
	color: white;
    margin-left: 270px;
    position: absolute;
    padding-top: 150px;
    font-size: 40px;
    text-decoration: underline;


}
.groep{
	color: white;
	margin-left: 270px;
	margin-top: 80px;
    position: absolute;
    padding-top: 150px;
    
    
}




	





